body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles-js {
  height: 100%;
  background: black;
  color: white;
  position: relative;
}



#container1 {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;

}


#pic1 {
  max-width: 70%;
  max-height: 70%;
  border-radius: 30%;
  /* padding: auto; */
}

.intro {
  margin-top: 6em;
  /* margin-bottom: 3em; */
  
}

.intro h1 {
  font-family: 'Cinzel', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.intro h2 {
  font-family: 'Cinzel', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}


.aboutmemain {
  margin-top: 5em;
}

.aboutmemain {
  font-family: 'Cinzel', serif;
  font-family: 'Combo', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Ms Madi', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Qwitcher Grypen', cursive;
  font-family: 'Roboto Condensed', sans-serif;
}

.aboutme1 {
  margin-top: 1em;
  /* background-color: #003366; */
  background-color: #660033;
  color: white;
  border-radius: 0% 19% 0% 60%;
}

.aboutme2 {
  margin-top: 5.3em;
  background-color: #FFFFFF;
  color: black;
  border-radius: 0% 19%;
}

.aboutme3 {
  margin-top: 12.5em;
  background-color: #FFCC00;
  border-radius: 0% 40% 0% 21%;
  padding-top: 1em;
  height: 170px;


}

/* ---------------------------------------------- */


body {
  /* background: grey; */
  background: #003366;
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  /* background: #003366; */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}


.timeline__paragraph a {
  color: red;
  background: transparent;
}



.lbase {
  /* background-color: #999966; */
  background-color: #98c1d9;
  border-radius: 10% 10% 0% 0%;
  margin-bottom: 3em;
  height: 250px;
  font-family: 'Cinzel', serif;
font-family: 'Combo', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Londrina Outline', cursive;
font-family: 'Ms Madi', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto Condensed', sans-serif;
}

.social {
  margin-left: 1em;
}



.lbaseco a  :hover{
  color: #FFCC00;
  
}




@media (max-width: 380px) {
  .aboutme1 {
    border-radius: 0%;
    /* width: 20em; */
  }

  .aboutme2 {
    border-radius: 0%;
  }


  .aboutme3 {
    border-radius: 0%;
  }

  .lbase {
    border-radius: 0%;
  }
}

@media (min-width: 614px) and (max-width: 992px) {
  .intro {
    margin-top: 0em;
    margin-left: 5em;
  }

  #pic1 {
    max-width: 60%;
    max-height: 60%;
    margin-left: 10em;
  }
}

@media (min-width: 500px) and (max-width: 614px) {
  .intro {
    margin-top: 0em;
  }

  #pic1 {
    max-width: 60%;
    max-height: 60%;
    /* margin-left: 10em; */
  }
}

@media (min-width: 555px) and (max-width: 654px) {
  .aboutme1 {
    border-radius: 0%;
    margin-top: 0em;
    /* width: 20em; */
  }

  .aboutme2 {
    border-radius: 0%;
    margin-top: 1.2em;
  }


  .aboutme3 {
    border-radius: 0%;
    margin-top: 0em;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    padding-top: 0em;
    padding-bottom: 1em;
    max-height: 30em;
  }
}


@media (min-width: 374px) and (max-width: 554px) {
  .aboutme1 {
    border-radius: 0%;
    margin-top: 2.5em;
    padding-right: 3em;
    /* width: 20em; */
  }

  .aboutme1 h1{
    padding-left: 1.5em;
  }

  .aboutme2 {
    border-radius: 0%;
    margin-top: 0em;
  }


  .aboutme3 {
    border-radius: 0%;
    margin-top: 0em;
    padding-top: 1em;

  }

  .lbase{
    border-radius:  0%;
  }

  /* .aboutmemain{
    margin-top: 1em;
  } */
}

