body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    height: 100%;
    background: black;
    color: white;
    position: relative;
}



#container1 {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;

}


#pic1 {
    max-width: 70%;
    max-height: 70%;
    border-radius: 30%;
    padding: auto;
}

.intro {
    margin-top: 6em;
    /* margin-bottom: 3em; */
}


.aboutme1 {
    margin-top: 1em;
    background-color: #003366;
    color: white;
    border-radius: 0% 19% 0% 60%;
}

.aboutme2 {
    margin-top: 5.3em;
    background-color: #FFFFFF;
    color: black;
    border-radius: 0% 19% ;
}

.aboutme3 {
    margin-top: 12.5em;
    background-color: #FFCC00;
    border-radius: 0%  40%   0% 21%;
    padding-top: 1em;
    height: 170px;
    
    
}
/* ---------------------------------------------- */


body {
    background: grey;
  }
  
  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #ffffff;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
  