body{
 margin: 0;
 padding: 0;
 height: 100vh;
}

#particles-js{
    height: 100%;
    background: black;
    color: white;
    position:relative;
}



#container1{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    z-index:5;
  
}


#pic1{
    max-width: 70%;
    max-height: 70%;
    border-radius: 30%;
    padding: auto;
}

.intro{
    margin-top: 6em;
}